.SearchContainer{
    background: $first-color;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1s both;
    img{
        width: 20px;
        height: 20px;
    }
    input{
        background: none;
        outline: none;
        border: none;
        color: white;
        padding-inline: 15px;
        font-size: 1.2rem;
        width: 80%;
    }
    button{
        background: #0179FF;
        border: none;
        color: white;
        font-size: 1rem;
        padding: 10px;
        border-radius: 10px;
    }
     &.changeBackground{
        background: white;
        input{
            color: black;
        }
    } 
}
.ErrorContainer{
    color: #ce0000;
    text-align: center;
    font-size: 1.1rem;
    width: 80%;
    margin: 0 auto;
}

@keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 