.Social-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div{
        display: flex;
        width: 230px;
        margin-block: 15px;
        img{
            margin-right: 15px;
        }
        p{
            color: white;
            font-size: 1rem;
            letter-spacing: 2px;
        }
    }
    &.Change-color{
        div > p {
            color: rgb(0, 7, 41);
            opacity: .5;
        }
    }
}